#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: #555
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 0px
  a
    color: #555
    text-decoration: none
    &:hover
      text-decoration: underline
    &:active
      color: color-link
    &:visited
      color: color-link
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc